<div class="row">
  <div class="col s6 offset-s3">
    {{#if error}}
      <div class="card-panel red lighten-2">{{error}}</div>
    {{/if}}
    <h1>Create new password</h1>
    <form action="/auth/password" method="post">
      <div class="input-field">
        <input type="password" name="password" id="password" class="validate" required />
        <label for="password">New password</label>
        <span class="helper-text" data-error="Enter password"></span>
      </div>
      <input type="hidden" name="_csrf" value="{{csrf}}" />
      <input type="hidden" name="userId" value="{{userId}}" />
      <input type="hidden" name="token" value="{{token}}" />

      <button class="btn waves-effect waves-light" type="submit">Create</button>
    </form>
  </div>
</div>